/* =================== */
/* GENERAL RULES */
/* =================== */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body  {
    margin: 0;
    font-family: 'Georgia';
}

#wrapper {
  padding: 0px 16px;
}

/* =================== */
/* MENU BAR */
/* =================== */

header {
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: White;
    padding: 16px 16px;
    z-index: 100;
}

.logo, .hamburger, .hamburger i {
  position: relative; 
}

nav .hamburger {
    font-size: 2rem;
}

nav ul {
    font-size: 2.5rem;
    padding: 16px 0px 0px 0px; 
}

nav ul li {
    text-align: right;
    padding: 16px 16px 16px 16px;
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 1000ms;
}

.menuItems {
  transform: translateX(100%);
  background-color: white;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 600ms ease-out;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 64px 32px 64px;
  opacity: 0;
}

#contact {
  font-size: 1.5rem;
  text-align: center;
}

#contact a {
  text-decoration: underline;
}

#contact span{
  font-size: 1.25rem;
  color: grey;
}

/* =================== */
/* HERO SECTION */
/* =================== */

.heroSection {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    padding: 49px 0px 0px 0px;
    background-image: url("https://images.unsplash.com/photo-1581375350556-72857df566d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 32px;
}

.heroSection h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 8vw;
  font-weight: 500;
  color: white;
  text-align: left;
  padding-top: 140px;
  margin: .25em 5%;
}

.heroSection h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5vw;
  color: white;
  text-align: left;
  padding-top: 10px;
  margin: 0% 5%;
}

.bottomGuide {
    position: absolute;
    bottom: 16px;
    right: 0;
    left: 0;
    text-align: center;
}

.heroSection a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}

.heroSection i {
  font-size: 1.5rem;
  color: white;
}

/* =================== */
/* INFO SECTION */
/* =================== */

.infoSection {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0px 40px 0px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 50%;
  padding: 0px 8px;
  margin: 0px 0px 32px 0px;
  text-align: center;
  line-height: 1.5rem;
}

.infoText {
    width: 80%;
}

.infoGraphic {
  width: 70%;
  margin: 0px 0px 16px 0px;
}

/* =================== */
/* NEWS SECTION */
/* =================== */

.featured {
  z-index: -1;
}

.featCard {
    width: 100%;
    z-index: -1;
    background-image: url("images/dangerdude.jpg");
    position: relative;
    margin-bottom: 16px;
    -webkit-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
}

.featImage img{
    width: 100%;
}

.featText {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px;
    bottom: 0;
    left: 0;
    /* top: 0px; */
    color: white;
    font-size: 2rem;
    width: 100%;
    /* text-shadow: 2px 3px 5px rgba(0,0,0,1); */
    background-color: rgba(0,0,0,.5);
}

.featText a {
    padding: 8px;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    font-size: 1.5rem;
}

.featText a:hover {
    padding: 8px;
    text-decoration: none;
    color: lightgrey;
    align-self: flex-end;
}

/* =================== */
/* Secondary section */
/* =================== */

.secondCard {
  width: 100%;  
  display: flex;
  margin-bottom: 16px;
  -webkit-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
}

.secondCard .secondImage {
  width: 30%;
}

.secondCard .secondImage img{
  width: 100%;  
}

.secondCard .secondText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 16px 5%;
  font-size: 2rem;
}

.secondText a {
  padding: 8px;
  text-decoration: none;
  color: black;
  align-self: flex-end;
  font-size: 1.25rem;
}

.secondText a:hover {
  padding: 8px;
  text-decoration: none;
  color: lightgrey;
  /* align-self: flex-end; */
}

/* =================== */
/* Footer */
/* =================== */

footer {
  display: flex;
  justify-content: space-between;
  height: 11rem;
  align-items: flex-end;
  background-color: lightblue;
  padding: 16px 0px 16px 0px;
}

footer .contact {
  width: 33%;
  display: flex;
  align-items: center;
}

footer .contact ul i {
  color: white; 
  font-size: 2rem;
  padding: 0px 16px 0px 16px;
}

footer .contact ul li {
  color: white; 
  font-size: 1,25rem;
  display: flex;
  align-items: center;
  margin: 0px 0px 16px 0px;
}

footer .contact ul li:last-of-type {
  margin: 0;
}

.back a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

footer .back {
  width: 33%;
  display: flex;
  justify-content: center;
}

footer .copyright {
  display: flex;
  width: 33%;
  justify-content: center;
} 

footer .copyright p {
  color: white;
}