/* =================== */
/* ADJUSTED FONT SIZES */
/* =================== */

@media screen and (max-device-width: 720px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (min-device-width: 720px) and (max-device-width: 860px) {
  html {
    font-size: .6rem;
  }
  .infoCard {
    font-size: 1.6em;
  }
  .contact {
    font-size: 1.7em;
  }
}

@media screen and (min-device-width: 861px) {
  html {
    font-size: .8rem;
  }
  .infoCard {
    font-size: 1.3em;
  }
}

/* =================== */
/* GENERAL RULES */
/* =================== */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body  {
    margin: 0;
    font-family: 'Georgia';
    background-color: #F5EFEB;
}

#wrapper {
  padding: 16px 16px;
  background-color: white;
  margin-top: 0;
  /* -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); */
  box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.05);
}

@media screen and (min-device-width: 720px) and (max-device-width: 1140px) { 
  #wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-device-width: 1141px) { 
  #wrapper {
    width: 75%;
    margin: 0 auto;
  }
}


/* =================== */
/* MENU BAR */
/* =================== */

header {
    position: sticky;
    /* position: relative; */
    width: 100vw;
    max-width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap;
}

.logoSection {
  background-color: rgba(44, 44, 44, 0.4);
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 32px 0px;
}

.logoSection img {
  max-width: 30%;
}

.logo, .hamburger, .hamburger i {
  /* position: relative; */
  color: white;
  top: 16px;
  right: 16px;
}

.logo {
  height: 60px;
  display: hidden;
}

.logo img {
  height: 100%;
}

.hamburger i {
  font-size: 40px;
}

nav {
  padding: 16px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgb(44, 44, 44);
}

nav .hamburger {
    font-size: 2em;
}

nav ul {
    font-size: 42px;
    padding: 16px 0px 0px 0px; 
}

nav ul li {
    text-align: right;
    padding: 16px 16px 16px 16px;
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 1000ms;
}

.menuItems {
  transform: translateX(100%);
  background-color: rgb(69, 69, 69);
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 600ms ease-out;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 64px 32px 64px;
  opacity: 0;
  color: white;
}

#contact {
  font-size: 0.5em;
  text-align: right;
  color: white;
}

#contact a {
  text-decoration: underline;
  color: rgb(92, 147, 196)
}

#contact span{
  color: rgb(199, 199, 199);
}

/* =================== */
/* HERO SECTION */
/* =================== */

.heroSection {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    /* padding: 49px 0px 0px 0px; */
    /* background-image: url("../images/Mountainz.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1560177112-fbfd5fde9566?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    position: relative;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: sticky;
  top: 70vh;
}

.heroSection h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6em;
  font-weight: 500;
  color: white;
  text-align: left;
  /* padding-top: 50vh; */
  margin: 0 5%;
}

.heroSection h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4em;
  color: white;
  text-align: left;
  padding-top: 10px;
  margin: 0% 5%;
  text-shadow: 0px 5px 7px 1px rgba(0,0,0,0.05);
}

.bottomGuide {
    /* position: absolute; */
    bottom: 16px;
    right: 0;
    left: 0;
    text-align: center;
}

.heroSection a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
}

.heroSection i {
  font-size: 1.5em;
  color: white;
}

/* =================== */
/* INFO SECTION */
/* =================== */

.infoSection {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0px 0px 0px;
  position: relative;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 50%;
  padding: 0px 8px;
  margin: 0px 0px 32px 0px;
  text-align: center;
  line-height: 1.5em;
}

.infoText {
    width: 80%;
}

.infoGraphic {
  width: 70%;
  margin: 0px 0px 16px 0px;
}

hr {
  /* display: block; */
  width: 100%;
  padding: 0px 16px;
  margin: 0px auto 16px auto;
  border: none;
  height: 1px;
  background-color: rgba(187, 187, 187, 1);
}

@media screen and (min-device-width: 720px) and (max-device-width: 1140px) { 
  .infoSection {
    width: 83%;
    margin: 0px auto;
  }
}

@media screen and (min-device-width: 1141px) { 
  .infoSection {
    width: 100%;
    padding: 0px 16px;
  }

  .infoCard {
    width: 25%;
  }
}

/* =================== */
/* NEWS SECTION */
/* =================== */

/* .featured {
  z-index: -1;
} */

.featCard {
    width: 100%;
    z-index: 1;
    position: relative;
    margin-bottom: 34px;
    /* -webkit-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1); */
}


.featImage img{
  width: 100%;
}

.featText {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 8px;
  bottom: 0;
  left: 0;
  /* top: 0px; */
  color: white;
  font-size: 2.2em;
  width: 100%;
}

.featText a {
    padding: 8px;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    font-size: 0.7em;
}

.featText p {
  display: none;
}

@media screen and (max-device-width: 720px) {
  .featCard:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -17px;
    height: 1px;
    background-color: rgba(187, 187, 187, 1);
  }

  .featText {
    padding: 4em 8px .5em 8px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.9) 100%);
  }

  .featText h2 {
    margin-bottom: .5em;
    font-weight: 500;
  }

  .featText a {
    font-size: .65em;
  }
}

@media screen and (min-device-width: 720px) and (max-device-width: 1140px) { 
    .featured {
      width: 50%;
      padding: 0px 16px 0px 0px;
      position: relative;
      margin-bottom: 16px;
      padding-bottom: 16pxs;
    }
    
    .featured:after {
      content: "";
      position: absolute;
      right: -1px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: rgba(187, 187, 187, 1);
    }

    .featCard:last-of-type {
      margin-bottom: 0;
    }

    .featText {
      position: relative;
      background-color: white;
      color: black;
      padding: 1em 8px 0px 8px;
      font-weight: 500;
    }

    .featText:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -18px;
      right: 0;
      left: 0;
      height: 1px;
      background-color: rgba(187, 187, 187, 1);
    }

    .featText a {
      padding: 8px;
      text-decoration: none;
      color: black;
      align-self: flex-end;
      font-size: 0.7em;
  }
  .featText a:hover {
    padding: 8px;
    text-decoration: none;
    color: lightgrey;
    align-self: flex-end;
  }
}

@media screen and (min-device-width: 1390px) {
  .featText {
    font-size: 3em;
  }
}

@media screen and (min-device-width: 1141px) {  
  
  .featured {
    margin-bottom: 32px;
  }
  
  .featText:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -18px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: rgba(187, 187, 187, 1);
  }
  
  .featCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .featImage {
    width: 49%;
    background-image: url("../images/TheBroad.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .featImage img {
    display: none;
  }
  .featText p {
    display: block;
    font-size: .75em;
    line-height: 1.4em;
    /* margin-bottom: 1em; */
    width: 90%;
  }
  .featText {
    background-color: transparent;
    width: 49%;
    position: static;
    color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 0px 0px 0px 0px;
  }
  .featText a {
    color: black;
  }
  .featText h2 {
    margin-bottom: .25em;
    font-size: 1.75em;
  }
  .featText a {
    align-self: flex-start;
    padding: 0;
    margin-top: 16px;
    color: rgb(32, 53, 103)
  }
}
/* =================== */
/* Secondary section */
/* =================== */

.secondCard {
  width: 100%;  
  display: flex;
  margin-bottom: 16px;
  font-size: 1em;
  position: relative;
  /* -webkit-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.1); */
}

/* .secondCard:before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(187, 187, 187, .5);
} */

.secondCard .secondImage {
  width: 30%;
}

.secondCard .secondImage img{
  width: 100%;  
}

.secondCard .secondText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 16px 5%;
  font-size: 2em;
}

.secondText a {
  padding: 8px;
  text-decoration: none;
  color: black;
  align-self: flex-end;
  font-size: 0.65em;
}

.secondText a:hover {
  padding: 8px;
  text-decoration: none;
  color: lightgrey;
  /* align-self: flex-end; */
}

@media screen and (max-device-width: 720px) {
  .secondCard:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -17px;
    height: 1px;
    background-color: rgba(187, 187, 187, 1);
  }

  .secondCard {
    margin-bottom: 34px;
  }
}

@media screen and (min-device-width: 720px) and (max-device-width: 1140px) { 
    .secondary {
      width: 50%;
      padding-left: 16px;
    }

    .secondCard {
      position: relative;
      margin-bottom: 34px;
    }

    .secondCard:after {
      content: "";
      position: absolute;
      bottom: -18px;
      right: 0;
      left: 0;
      height: 1px;
      background-color: rgba(187, 187, 187, 1);
    }
}

@media screen and (min-device-width: 1141px) {

    .secondary {
      display: flex;
      flex-wrap: wrap;
    }

    .secondCard {
      width: 50%;
    }

    .secondCard:hover {
      transform: scale(1.01);
      transition: all 200ms;
    }
}
/* =================== */
/* Footer */
/* =================== */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(44, 44, 44);
  padding: 16px 0px 16px 0px;
}

footer .contact {
  width: 33%;
  display: flex;
  align-items: center;
}

footer .contact ul i {
  color: white; 
  font-size: 2em;
  padding: 0px 16px 0px 16px;
}

footer .contact ul li {
  color: white; 
  font-size: 1,25em;
  display: flex;
  align-items: center;
  margin: 0px 0px 16px 0px;
}

footer .contact ul li:last-of-type {
  margin: 0;
}

.back a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

footer .back {
  width: 33%;
  display: flex;
  justify-content: center;
}

footer .copyright {
  display: flex;
  width: 33%;
  justify-content: center;
} 

footer .copyright p {
  color: white;
}